<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>练习</title>
	</head>
	<body>
		<div id="app">
			<div>
				<input type="text" name="" id="" value="" v-model="name" placeholder="名字是..."/>
				<span v-show="name">名字是  {{name}}</span>
			</div>
			<br />
			<div>
				<input type="text" name="" id="" value="" v-model="age" placeholder="年龄是..."/>
				<span v-show="age">年龄是	{{age}}</span>
			</div>
			<br />
			<div>
				<input type="text" name="" id="" value="" v-model="sex" placeholder="性别是..."/>
				<span v-show="sex">性别是	{{sex}}</span>
			</div>
		</div>
		
		<script src="js/vue.js"></script>
		<script src="lie/prefect.js"></script>
	</body>
</html>
